.contacts__body {
  margin: 2rem auto;
  max-width: 1400px;
}

.contacts__body-inner {
  width: 90%;
  margin: 0 auto;
}

.contacts__body-inner.grid {
  grid-template-columns: 3.7fr 6fr;
  grid-gap: 60px;
}

.contacts__body-info h1 {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 1rem 0 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts__body-info a,
.contacts__body-info strong {
  color: #181818;
  font-weight: 600;
  margin-left: 10px;
}

.book__form {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1rem 0;
  text-align: center;
}

.book__form h3 {
  margin: 1rem 0;
  font-size: 25px;
  font-weight: 600;
}

.book__form .form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-group label {
  margin: 0.5rem 0;
  font-size: 14.5px;
  color: #181818;
  text-align: left;
  /* border: 1px solid #000; */
  margin: 0.7rem auto;
  width: 90%;
}

.form-group input,
.form-group textarea {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  color: #000;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #555;
}

.form-group textarea {
  height: 70px;
}
