* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  height: 10px !important;
  width: 8px;
  background: #555;
  border-radius: 5px;
}

body {
  background: #ccc;
  color: #181818;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  margin: 0 auto;
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .grid,
  .grid3 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.section__title {
  margin: 2rem 0;
}

.section__title h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title__underline {
  width: 60px;
  height: 7px;
  /* border-radius: 5px; */
  background: rgb(104, 6, 174);
}

p {
  font-size: 15.3px;
  margin: 8px 0;
  line-height: 1.15;
  letter-spacing: 1px;
  color: #333333;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
